body{
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  color: #333;
}


a {
  text-decoration: none;
  color: #333
}

.font-size_header{
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

//post
.tr-Item {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;
}

.tr-Item_userImage {
  display: flex;
  overflow: hidden;
  border-radius: .2em;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 2px;
  margin-right: 8px;
}

.tr-Item_userImage img {
  width: 100%;
  height: 100%;
  border-radius: .2em;
}

.tr-Item_body {
  flex: 1 1;
}

.tr-Item_title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 4px;
  color: inherit;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-all;
}

.tr-Item_meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #999;
  font-size: .7em;
}

.it-Header {
  color: #333;
  margin-bottom: 40px;
}

.it-Header_info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.it-Header_authorImage {
  display: flex;
  overflow: hidden;
  border-radius: .2em;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.it-Header_authorImage img {
  width: 100%;
  height: 100%;
  border-radius: .2em;
}

.it-Header_authorName {
  font-size: 1.3rem;
  color: inherit;
}

.it-Header_time {
  color: #999;
  font-size: 1.4rem;
  margin-right: 16px;
}

.it-Header_title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 16px;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  line-height: 1.4;
}

.it-Tags {
  display: flex;
  flex-wrap: wrap;
}

.it-Tags_item {
  display: flex;
  align-items: center;
  background-color: #eee;
  color: #666;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.it-MdContent {
  font-size: 1.6rem;
  color: #333;
  word-wrap: break-word;
  word-break: break-all;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.it-Actions_like {
  text-align: center;
  font-size: 1.5rem;
  height: 44px;
  width: 100%;
  margin: 0 8px;
  border: 2px solid #17a2b8;
  border-radius: 4px;
  color: #17a2b8;
  background-color: #fff;
}





//user
.user-show_Image {
  display: flex;
  overflow: hidden;
  border-radius: .2em;
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  margin-top: 2px;
  margin-right: 2px;
}

.user-show_Image img {
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
}